@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font range */
  font-style: normal;
}

@font-face {
  font-family: "Inter Italic";
  src: url("/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Variable font range */
  font-style: italic;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/fira-code/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700; /* Variable font range */
  font-style: normal;
}

:root {
  /* Light Theme */
  --main-background: #f9f9f9;
  --main-sub-background: #caf0f8;
  --main-title: #1b262c;
  --main-subtitle: #333333;
  --main-text: #001f3d;
  --main-resume: #10b981;
  --attention: #0096c7;

  --sidebar-background: #0096c7;
  --sidebar-active: #b0e0e6;
  --sidebar-hover: #e0f7fa;
  --sidebar-title: #333333;
  --sidebar-subtitle: #4a4a4a;
  --sidebar-text: #333333;

  --projects-category: theme("colors.gray.500");
  --projects-cat_instance: theme("colors.gray.700");
  --projects-text: theme("colors.blue.700");
  --projects-tech: theme("colors.blue.50");
  --projects-ring: theme("colors.blue.500");
}

.dark {
  /* Dark Theme */
  --main-background: #1a2b3b;
  --main-sub-background: #234863;
  --main-title: #e0e0e0;
  --main-subtitle: #bdbdbd;
  --main-text: #f0f0f0;
  --main-resume: #059669;
  --attention: #00b4d8;

  --sidebar-background: #00728f;
  --sidebar-active: #1e4d6b;
  --sidebar-hover: #2c5a7a;
  --sidebar-title: #e0e0e0;
  --sidebar-subtitle: #bdbdbd;
  --sidebar-text: #f0f0f0;

  --projects-category: theme("colors.gray.400");
  --projects-cat_instance: theme("colors.gray.300");
  --projects-text: theme("colors.blue.300");
  --projects-tech: theme("colors.blue.900");
  --projects-ring: theme("colors.blue.600");
}

body {
  @apply bg-main-background text-main-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-main-title;
}

p {
  @apply text-main-subtitle;
}

.sidebar {
  @apply bg-sidebar-background text-sidebar-text;
}
