@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font range */
  font-style: normal;
}

@font-face {
  font-family: "Inter Italic";
  src: url("/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Variable font range */
  font-style: italic;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/fira-code/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700; /* Variable font range */
  font-style: normal;
}

:root {
  /* Light Theme */
  --main-background: #eaf6f6;
  --main-sub-background: #d5f4f6;
  --main-title: #006d77;
  --main-subtitle: #2c6975;
  --main-text: #4a4a4a;
  --sidebar-background: #c4e4e5;
  --sidebar-title: #005662;
  --sidebar-subtitle: #337d83;
  --sidebar-text: #3d3d3d;
  --attention: #a7d7d9;
}

.dark {
  /* Dark Theme */
  --main-background: #0e2a2f;
  --main-sub-background: #16404a;
  --main-title: #53c4cc;
  --main-subtitle: #46a0a5;
  --main-text: #bfd7d9;
  --sidebar-background: #092124;
  --sidebar-title: #50bfc9;
  --sidebar-subtitle: #3d929b;
  --sidebar-text: #a8c3c5;
  --attention: #164d53;
}

body {
  @apply bg-main-background text-main-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-main-title;
}

p {
  @apply text-main-subtitle;
}

.sidebar {
  @apply bg-sidebar-background text-sidebar-text;
}
